

<!DOCTYPE html>
<html>
<head>
  <title>Website with Navbar and Flexboxes</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <nav>
    <ul class="navbar">
      <li><%= link_to 'Home', home_path %></li>
      <li><%= link_to 'About', about_path %></li>
      <li class="dropdown">
        <a href="#" class="dropbtn">Dropdown</a>
        <div class="dropdown-content">
          <%= link_to 'Link 1', home_path %>
          <%= link_to 'Link 2', home_path %>
          <%= link_to 'Link 3', home_path %>
        </div>
      </li>
    </ul>
  </nav>

  <div class="flex-container">
    <div class="flex-item">
      <h2>Flexbox 1</h2>
      <p>Content for Flexbox 1 goes here.</p>
    </div>
    <div class="flex-item">
      <h2>Flexbox 2</h2>
      <p>Content for Flexbox 2 goes here.</p>
    </div>
    <div class="flex-item">
      <h2>Flexbox 3</h2>
      <p>Content for Flexbox 3 goes here.</p>
    </div>
  </div>

  <%= yield %>
</body>
</html>
